.promo {
    .block {
        width: 100%;
        background-color: #101010;
        padding: 7rem;
        padding-left: 20%;
        border-radius: 2.5rem;
        margin-bottom: 5rem;
        .text {
            color: white;
            font-size: 2.8rem;
            max-width: 30rem;
        }
        .img {
            bottom: 0;
            right: 10%;
        }
        @media (max-width: 800px) {
            .img {
                right: 5%;
                width: 21.5rem;
                height: 13.4rem;
                
            }
            .text {
                font-size: 2.2rem;
                position: relative;
                z-index: 4;
            }
            & {
                padding-left: 5%;
                padding: 5rem;
                overflow: hidden;
            }
        }
    }
}
.catalog {
    .part {
        h3 {
            color: #838383;
            font-size: 1.6rem;
        }
    }
}
