html {
  font-size: 10px;
}

.wrapper {
  max-width: 142rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.count {
  border-radius: 50%;
  color: white;
  height: 1.8rem;
  width: 1.8rem;
  background: #5c59dd;
  font-size: 1rem;
}
