.header {
    padding: 3rem 0;
    margin-bottom: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: white;
    .nav {
        .item {
            font-size: 1.4rem;
            color: #101010;
        }
    }
    .right {
        .favorites {
            top: -16%;
            right: -50%;
        }
        .cart {
            top: -16%;
            right: -35%;
        }
    }
    .menu {
        display: none;
    }
    .menuNav {
        padding: 2rem;
        border-radius: 2rem;
        position: absolute;
        right: 0;
        top: 120%;
        z-index: 5;
        transform: translateX(100vw);
        transition: .5s;
        .item {
            font-size: 1.4rem;
        }
    }
    .menuOpened {
        transform: translateX(0);
    }
    @media (max-width: 1070px) {
        .nav {
            display: none;
        }
        .menu {
            display: block;
        }
    }
    @media (max-width: 650px) {
        .logo svg{
            width: 13rem;
        }
    }
}