.header {
    padding: 3rem 0;
    margin-bottom: 5rem;
    .nav {
        .item {
            font-size: 1.4rem;
            color: #101010;
        }
    }
    .right {
        .favorites {
            top: -16%;
            right: -50%;
        }
        .cart {
            top: -16%;
            right: -35%;
        }
    }
    .menu {
        display: none;
    }
    @media (max-width: 1070px) {
        .nav {
            display: none;
        }
        .menu {
            display: block;
        }
    }
}