.product {
    padding: 1.2rem 3.5rem;
    border-radius: 2rem;
    .img {
        height: 7.8rem;
        width: 7.8rem;
        img {
            position: absolute;
            top: 0;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
  
    .title {
        font-size: 1.8rem;
    }
    .price {
        font-size: 2.2rem;
    }
    .count {
        font-size: 1.6rem;
        min-width: 2rem;
        text-align: center;
    }
    .countBtn {
        background: #5c59dd;
        height: 2.3rem;
        width: 2.3rem;
        text-align: center;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        font-size: 2.2rem;
    }
    .bottom {
        min-height: 3.6rem;
    }
    @media (max-width: 450px) {
        .title {
            font-size: 1.6rem;
        }
        .img {
            height: 5.8rem;
            width: 5.8rem;
            
        }
        .price {
            font-size: 2rem;
        }
        & {
            padding: 1.2rem 1.8rem;
        }
    }
}
